body {
    background-color:#ddd;
}

.login {
    background-color:#f6f6f6;
    border-style:solid;
    border-width:1px;
    border-color:#666;
    border-radius:18px;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    width:420px;
    margin-top:220px;
    padding:9px;
    text-align:center;
    font-family:Century Gothic, Trebuchet MS, Arial;
    -moz-box-shadow: 0 0 5px 5px #aaa;
    -webkit-box-shadow: 0 0 5px 5px #aaa;
    box-shadow: 0 0 5px 5px #aaa;
}

.login .error, .login .success { font-size:14px; margin-bottom:6px; font-weight:bold; }
.login .error { color:red; }
.login .success { color:green; }

.login .fields {
    font-family:Century Gothic, Trebuchet MS, Arial;
    font-size:14px;
}

.header {
    width:920px;
    height:60px;
    background-image:url('images/headerbg.png');
    background-repeat:repeat-x;
    border-style:solid;
    border-width:1px;
    border-color:#333;
    border-top-left-radius:18px;
    border-top-right-radius:18px;
    -moz-border-top-left-radius:18px;
    -moz-border-top-right-radius:18px;
    -webkit-border-top-left-radius:18px;
    -webkit-border-top-right-radius:18px;
    font-family:Helvetica Neue, Century Gothic, Trebuchet MS, Arial;
    font-weight:lighter;
    color:#fff;
    padding:6px;
}

.options {
    text-align:right;
}

.options a:link, .options a:visited {
    color:#ddd;
    text-decoration:none;
}

.options a:hover {
    color:#fff;
    text-decoration:underline;
}

.main {
    width:920px;
    background-color:#fff;
}

.main .navbar {
    width:290px;
    padding:0px;
}

.main .navbar .navbuttons {
    padding:0px;
    width:100%;
}

.main .navbar .navbuttons td {
    width:100%;
    height:32px;
    background-image:url('images/tabbg.png');
    font-family:Helvetica Neue, Century Gothic, Trebuchet MS, Arial;
    color:#fff;
    padding:0px;
    vertical-align:middle;
    cursor:pointer;
}

.main .navbar .navbuttons td a:link, .main .navbar .navbuttons td a:visited {
    color:#fff;
    text-decoration:none;
}

.main .content {
    padding:16px;
    font-family:Helvetica Neue, Century Gothic, Trebuchet MS, Arial;
    font-weight:lighter;
}

.main .content h1 {
    font-weight:bold !important;
    font-size:28px;
}